body {
    margin: auto 400px ; 
    padding-top: 100px;
    padding-left: 100px;    
    width: 100%;
    height: 100%;
}
fieldset {
    padding: 20px;
    width: 500px;
    font-size: 13px;
    background-color: #d6d4d4;
}
h3 {
    text-align: center;
}
table{
    width: 100%;
}
span{
    display:block;
}
.submitbutton
{
    margin-left:40%;
    margin-top: 20px;
    border-width:2px;
}
.resetbutton
{
    
    border-width:2px;
}
.error {
    color: red;
}

